In [1]:
from sklearn.feature_extraction import DictVectorizer
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.linear_model import Ridge
import pandas
import scipy
import numpy

In [3]:
data_train = pandas.read_csv(u'C:\\Users\\Dmi\\Desktop\\MatLab\\Coursera\\Введение в машинное обучение\\Неделя 4\\Задание 1\\salary-train.csv', 
                             header = 0)
data_test = pandas.read_csv(u'C:\\Users\\Dmi\\Desktop\\MatLab\\Coursera\\Введение в машинное обучение\\Неделя 4\\Задание 1\\salary-test-mini.csv', 
                            header = 0)
print len(data_train)
data_train.head()
#data_test.head()

60000

,FullDescription,LocationNormalized,ContractTime,SalaryNormalized
0,International Sales Manager London ****k ****...,London,permanent,33000
1,An ideal opportunity for an individual that ha...,London,permanent,50000
2,Online Content and Brand Manager// Luxury Reta...,South East London,permanent,40000
3,A great local marketleader is seeking a perman...,Dereham,permanent,22500
4,Registered Nurse / RGN Nursing Home for Young...,Sutton Coldfield,NaN,20355

In [12]:
data_full = data_train
data_test = data_full.ix[50001:60000, :]
data_train = data_full.ix[:50000, :]
data_test.tail()

Empty DataFrame
Columns: [FullDescription, LocationNormalized, ContractTime, SalaryNormalized]
Index: []

In [33]:
data_train['FullDescription'] = data_train['FullDescription'].str.lower()
data_train['FullDescription'].head()

0    international sales manager london ****k  ****...
1    an ideal opportunity for an individual that ha...
2    online content and brand manager// luxury reta...
3    a great local marketleader is seeking a perman...
4    registered nurse / rgn  nursing home for young...
Name: FullDescription, dtype: object

In [34]:
data_train['FullDescription'] = data_train['FullDescription'].replace('[^a-zA-Z0-9]', 
                                                                      ' ', 
                                                                      regex = True)
data_train.head()

,FullDescription,LocationNormalized,ContractTime,SalaryNormalized
0,international sales manager london k ...,London,permanent,33000
1,an ideal opportunity for an individual that ha...,London,permanent,50000
2,online content and brand manager luxury reta...,South East London,permanent,40000
3,a great local marketleader is seeking a perman...,Dereham,permanent,22500
4,registered nurse rgn nursing home for young...,Sutton Coldfield,NaN,20355

In [35]:
corpus = data_train['FullDescription']
vectorizer = TfidfVectorizer(min_df = 5)
X = vectorizer.fit_transform(corpus)
print X
# idf = vectorizer.idf_
# print dict(zip(vectorizer.get_feature_names(), idf))

  (0, 9611)	0.044905469531
  (0, 20413)	0.0387030844465
  (0, 11722)	0.024933985634
  (0, 18451)	0.0509414280173
  (0, 3350)	0.0278091732528
  (0, 7709)	0.0513052095322
  (0, 12171)	0.0197840606644
  (0, 22197)	0.020520635156
  (0, 7323)	0.0710102014974
  (0, 2650)	0.0354517428521
  (0, 9932)	0.056610755717
  (0, 22668)	0.026698650266
  (0, 8484)	0.0632466535586
  (0, 11621)	0.0523254457445
  (0, 729)	0.0419559898071
  (0, 1237)	0.0276577815977
  (0, 19269)	0.0554741613606
  (0, 7094)	0.0463080726794
  (0, 22696)	0.0384212030678
  (0, 19369)	0.0623002877546
  (0, 8222)	0.0585300289858
  (0, 19504)	0.0400154840551
  (0, 11849)	0.0542568250905
  (0, 5700)	0.0341651465765
  (0, 10064)	0.0304827906078
  :	:
  (59998, 12439)	0.0169587489335
  (59999, 379)	0.398779421241
  (59999, 17671)	0.309835924467
  (59999, 13265)	0.292441422637
  (59999, 3962)	0.288382093563
  (59999, 5274)	0.2462393629
  (59999, 3334)	0.210614491895
  (59999, 3648)	0.225947267134
  (59999, 11904)	0.174027313283
  (59999, 1612)	0.287928996536
  (59999, 1410)	0.129360497239
  (59999, 18693)	0.189278331537
  (59999, 2396)	0.155669083727
  (59999, 13585)	0.265779073878
  (59999, 22592)	0.0645245033074
  (59999, 9851)	0.167486349482
  (59999, 1968)	0.181442791714
  (59999, 9406)	0.173231861819
  (59999, 14776)	0.127543315995
  (59999, 17348)	0.0842918916829
  (59999, 20886)	0.163458530488
  (59999, 22438)	0.0502825914299
  (59999, 2224)	0.0497913903591
  (59999, 20830)	0.0866433918851
  (59999, 1270)	0.0432899344477

In [36]:
data_train['LocationNormalized'].fillna('nan', inplace=True)
data_train['ContractTime'].fillna('nan', inplace=True)
data_train.head()

,FullDescription,LocationNormalized,ContractTime,SalaryNormalized
0,international sales manager london k ...,London,permanent,33000
1,an ideal opportunity for an individual that ha...,London,permanent,50000
2,online content and brand manager luxury reta...,South East London,permanent,40000
3,a great local marketleader is seeking a perman...,Dereham,permanent,22500
4,registered nurse rgn nursing home for young...,Sutton Coldfield,nan,20355

In [37]:
enc = DictVectorizer()
X_train_categ = enc.fit_transform(data_train[['LocationNormalized', 'ContractTime']].to_dict('records'))
print X_train_categ

  (0, 2)	1.0
  (0, 957)	1.0
  (1, 2)	1.0
  (1, 957)	1.0
  (2, 2)	1.0
  (2, 1392)	1.0
  (3, 2)	1.0
  (3, 471)	1.0
  (4, 1)	1.0
  (4, 1495)	1.0
  (5, 1)	1.0
  (5, 422)	1.0
  (6, 2)	1.0
  (6, 1575)	1.0
  (7, 2)	1.0
  (7, 224)	1.0
  (8, 2)	1.0
  (8, 309)	1.0
  (9, 2)	1.0
  (9, 1392)	1.0
  (10, 0)	1.0
  (10, 86)	1.0
  (11, 2)	1.0
  (11, 639)	1.0
  (12, 2)	1.0
  :	:
  (59987, 1411)	1.0
  (59988, 1)	1.0
  (59988, 335)	1.0
  (59989, 2)	1.0
  (59989, 899)	1.0
  (59990, 2)	1.0
  (59990, 44)	1.0
  (59991, 2)	1.0
  (59991, 1665)	1.0
  (59992, 0)	1.0
  (59992, 957)	1.0
  (59993, 1)	1.0
  (59993, 957)	1.0
  (59994, 1)	1.0
  (59994, 679)	1.0
  (59995, 0)	1.0
  (59995, 1691)	1.0
  (59996, 2)	1.0
  (59996, 986)	1.0
  (59997, 1)	1.0
  (59997, 78)	1.0
  (59998, 2)	1.0
  (59998, 1531)	1.0
  (59999, 1)	1.0
  (59999, 957)	1.0

In [38]:
X_train = scipy.sparse.hstack((X, X_train_categ))
print X_train

  (0, 9611)	0.044905469531
  (0, 20413)	0.0387030844465
  (0, 11722)	0.024933985634
  (0, 18451)	0.0509414280173
  (0, 3350)	0.0278091732528
  (0, 7709)	0.0513052095322
  (0, 12171)	0.0197840606644
  (0, 22197)	0.020520635156
  (0, 7323)	0.0710102014974
  (0, 2650)	0.0354517428521
  (0, 9932)	0.056610755717
  (0, 22668)	0.026698650266
  (0, 8484)	0.0632466535586
  (0, 11621)	0.0523254457445
  (0, 729)	0.0419559898071
  (0, 1237)	0.0276577815977
  (0, 19269)	0.0554741613606
  (0, 7094)	0.0463080726794
  (0, 22696)	0.0384212030678
  (0, 19369)	0.0623002877546
  (0, 8222)	0.0585300289858
  (0, 19504)	0.0400154840551
  (0, 11849)	0.0542568250905
  (0, 5700)	0.0341651465765
  (0, 10064)	0.0304827906078
  :	:
  (59987, 24272)	1.0
  (59988, 22862)	1.0
  (59988, 23196)	1.0
  (59989, 22863)	1.0
  (59989, 23760)	1.0
  (59990, 22863)	1.0
  (59990, 22905)	1.0
  (59991, 22863)	1.0
  (59991, 24526)	1.0
  (59992, 22861)	1.0
  (59992, 23818)	1.0
  (59993, 22862)	1.0
  (59993, 23818)	1.0
  (59994, 22862)	1.0
  (59994, 23540)	1.0
  (59995, 22861)	1.0
  (59995, 24552)	1.0
  (59996, 22863)	1.0
  (59996, 23847)	1.0
  (59997, 22862)	1.0
  (59997, 22939)	1.0
  (59998, 22863)	1.0
  (59998, 24392)	1.0
  (59999, 22862)	1.0
  (59999, 23818)	1.0

In [39]:
alpha = 1
y = data_train['SalaryNormalized']
clf = Ridge(alpha)
clf.fit(X_train, y)

Ridge(alpha=1, copy_X=True, fit_intercept=True, max_iter=None,
   normalize=False, random_state=None, solver='auto', tol=0.001)

In [40]:
data_test['FullDescription'] = data_test['FullDescription'].str.lower()
data_train['FullDescription'] = data_test['FullDescription'].replace('[^a-zA-Z0-9]', 
                                                                      ' ', 
                                                                      regex = True)
data_test['LocationNormalized'].fillna('nan', inplace=True)
data_test['ContractTime'].fillna('nan', inplace=True)
X_desc = vectorizer.transform(data_test['FullDescription'])
X_cat = enc.transform(data_test[['LocationNormalized', 'ContractTime']].to_dict('records'))
X_test = scipy.sparse.hstack((X_desc, X_cat))
print X_test
result = clf.predict(X_test)

  (0, 22611)	0.0707679865816
  (0, 22592)	0.0165910215485
  (0, 22526)	0.0184159459661
  (0, 22519)	0.087306264688
  (0, 22438)	0.0258580698857
  (0, 22197)	0.0203974482395
  (0, 21690)	0.0325363894395
  (0, 21560)	0.0264080879516
  (0, 21420)	0.0615893289342
  (0, 21101)	0.0373072371724
  (0, 21026)	0.0267124879725
  (0, 20978)	0.070290844657
  (0, 20830)	0.178227161233
  (0, 20759)	0.0276993624394
  (0, 20704)	0.0290466624595
  (0, 20663)	0.0266247830328
  (0, 20644)	0.0252882257487
  (0, 20637)	0.0379559723125
  (0, 20595)	0.158692223423
  (0, 20592)	0.0201439745087
  (0, 20361)	0.0170104125666
  (0, 20250)	0.0516527432181
  (0, 20181)	0.109929609148
  (0, 19900)	0.071602346549
  (0, 19897)	0.0449759765787
  :	:
  (1, 4095)	0.0558916386336
  (1, 4064)	0.0387230846297
  (1, 4057)	0.0266591377701
  (1, 3350)	0.0387829275395
  (1, 2397)	0.097188824991
  (1, 2299)	0.0491777529956
  (1, 2272)	0.0488008344785
  (1, 2224)	0.0179626406209
  (1, 2164)	0.0317241587271
  (1, 1928)	0.0466188061046
  (1, 1762)	0.0276706846171
  (1, 1657)	0.222026293877
  (1, 1606)	0.0197131992256
  (1, 1537)	0.0613535282107
  (1, 1518)	0.0400873111529
  (1, 1413)	0.0415614962598
  (1, 1280)	0.110472883563
  (1, 1270)	0.218640640707
  (1, 1237)	0.0385717953517
  (1, 658)	0.0599953348212
  (1, 488)	0.0454487087537
  (0, 22861)	1.0
  (0, 23901)	1.0
  (1, 22863)	1.0
  (1, 23858)	1.0

In [41]:
print result

[ 56574.42220335  37197.35403401]